/* Login */
.form-container {
    max-width: 31.25rem;
    width: 100%;
    min-height: 500px;
    box-sizing: border-box;
}

.image-container.move-left {
    transform: translateX(-23.4375rem);
    position: relative;
    transition: transform 0.5s ease-in-out;
}